<h2 style="color: #3498db;;"><i>📖CENTRAL LIBRARY📖</i></h2>

<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-4">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtIPiZzz7iUEH_127gk-PPlp400-e2t9Q-mQ&usqp=CAU">
            </div>
            <div class="col-lg-8">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar"
                    aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-25" id="n_bar">
                    <ul class="navbar-nav ">
                        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact"><i class="fas fa-id-card icon"></i> contacts</a></li>
                        <li class="nav-item"><a class="nav-link" href="#news" ><i class="fas fa-newspaper icon"></i> news</a></li>
                        <a class="btn position-absolute top-0 end-0 sub" routerLink="/login"><i class="fas fa-user-circle"></i></a>
                    </ul>
                   
                </div> 
                
            </div>
        </div>
    </div>