<div class="header">
    <app-header></app-header>
</div>
<div class="sidenav">
    <app-side-nav></app-side-nav>
</div>

<section class="books">
    <div class="container">
        <h2>Love Novels</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let book of books">
                <div class="block">
                    <div class="book_img">
                        <img src="{{book.image}}">
                    </div>
                    <div class="book_info">
                        <h4>
                            {{book.name}}
                        </h4>
                        <h4>
                            <i> {{book.authorName}}</i>
                        </h4>
                        <p>{{book.description}}</p>
                    </div>
                    <div class="arrow">
                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Addtional Information!</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="d('Cross click')"></button>
                            </div>
                            <div class="modal-body" >
                                <img src="{{book.image}}" style="width: 100%;">
                                <h2>
                                    {{book.name}}
                                </h2>
                                <p style="margin-top: 10px;">
                                    {{book. addInfo}}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" routerLink="/user/myBooks">Save</button>
                              </div>
                        </ng-template>
                        <a class="btn btn-lg btn-outline-primary btn" (click)="open(content)">More <i
                                class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>