<div class="header">
    <app-header></app-header>
</div>
<div class="sidenav">
    <app-side-nav></app-side-nav>
</div>

<section class="loginform">
    <div class="container">
        <div class="signup" id="signup">
            <h2>
                 Book
            </h2>
            <!-- <div class="links">
                <span class="icon_button"><i class="fab fa-facebook-square"></i>Facebook</span>
                <span class="img_button"><i class="fab fa-google"></i>Google</span>
            </div> -->
            <div class="block">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div>
                            <label>User Name</label>
                        </div>
                        <select name="names" id="names" class="input_field" [(ngModel)]="issueBook.uname">
                            <option>harini</option>
                            <option>sireesh</option>
                            <option>manasvi</option>
                            <option>sai</option>
                          </select> 
                    </div>
                    <div class="col-lg-6 ">
                        <div>
                            <label> Book Name</label>
                        </div>
                        <select name="books" id="books" class="input_field" [(ngModel)]="issueBook.bname">
                            <option>science</option>
                            <option>history</option>
                            <option>math 12th</option>
                            <option>kids story</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <div>
                            <label> Issuing Date</label>
                        </div>
                        <input type="date" class="input_field" [(ngModel)]="issueBook.idate">
                    </div>
                    <div class="col-lg-6 ">
                        <div>
                            <label> Return Date</label>
                        </div>
                        <input type="date" class="input_field" [(ngModel)]="issueBook.rdate">
                    </div>
                </div>
                <button class="btn" (click)="issue()">Submit</button>
            </div>

        </div>
    </div>
</section>