<section class="about" id="about">
    <div class="container">
        <h2>
            WELCOME TO BOOKS WORLD
        </h2>
        <div class="row">
            <div class="col-lg-6" style="max-width:100% ;">
                <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGxpYnJhcnl8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
            </div>
            <div class="col-lg-6" style="max-width:100% ;">
                <img src="https://media.istockphoto.com/photos/young-afro-american-woman-sitting-at-table-with-books-and-laptop-for-picture-id1266628951?b=1&k=20&m=1266628951&s=170667a&w=0&h=n9hssLnsA4h2cqZdUJ40-iT_uvEgLkom6NopI77ZzXs=">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <p><b>library</b>, 
                        {{content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>