<section class="contact" id="contact">
    <div class="container">
        <div class="heading">
            <h2>
                CONTACT US
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-8  col-12">
                <div class="contact_details1">
                    <h4>
                        Library
                    </h4>
                    <p>
                        Library services available throughout the world vary so much in detail from country to country that it is difficult to present anything but the most general picture of their activities
                    </p>

                    <div class="social_links">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="social_links">
                        <i class="fab fa-facebook"></i>
                    </div>

                    <div class="social_links">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="social_links">
                        <i class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="contact_details">
                    <i class="fas fa-map-pin"></i>
                    <p>
                        A108 Adam Street<br>
                        New York, NY 535022
                    </p>
                </div>
                <div class="contact_details">
                    <i class="fas fa-envelope"></i>
                    <p>
                        info@example.com
                    </p>
                </div>
                <div class="contact_details">
                    <i class="fas fa-phone-alt"></i>
                    <p>
                        +1 5589 55488 55s
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>