<!-- <button class="btn float-end btn1 position-absolute top-0 start-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
    <i class="fas fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
</button>
<div class="offcanvas offcanvas-start w-25 p-3" id="menu" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header p-3">
        <h4 class="offcanvas-title d-none d-sm-block" id="offcanvas"></h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0 ">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
           
            <li >
                <a  data-bs-toggle="collapse" class="nav-link text-truncate">
                    <i class="fas fa-tachometer-alt text-dark"></i><span class="ms-1 d-none d-sm-inline" routerLink="/admin/dashboard">Dashboard</span> </a>
            </li>
            <li >
                <a  data-bs-toggle="collapse" class="nav-link text-truncate">
                    <i class="fas fa-th-large text-danger"></i><span class="ms-1 d-none d-sm-inline" routerLink="/admin/categories">catgories</span> </a>
            </li>
            <li >
                <a  data-bs-toggle="collapse" class="nav-link text-truncate">
                   <i class="fas fa-book text-success"></i><span class="ms-1 d-none d-sm-inline"
                   routerLink="/admin/booksList">Books</span> </a>
            </li>
            <li >
                <a  data-bs-toggle="collapse" class="nav-link text-truncate">
                    <i class="fas fa-user text-primary"></i><span class="ms-1 d-none d-sm-inline"
                   routerLink="/admin/userList">users</span> </a>
            </li>
            <li >
                <a  data-bs-toggle="collapse" class="nav-link text-truncate">
                    <i class="fas fa-copy text-primary"></i><span class="ms-1 d-none d-sm-inline"
                   routerLink="/admin/bookcopies">BookCopies</span> </a>
            </li>
            
           
            <li >
                <a  data-bs-toggle="collapse" class="nav-link text-truncate"><i class="fas fa-book text-success"></i>
                  <span class="ms-1 d-none d-sm-inline" routerLink="/admin/issueList">Issued Details</span> </a>
            </li>
            <li >
                <a  data-bs-toggle="collapse" class="nav-link text-truncate"><i class="fas fa-undo text-danger"></i>
                   <span class="ms-1 d-none d-sm-inline" routerLink="/admin/return">Returns</span> </a>
            </li>
           

        </ul>
    </div>
</div> -->

<button class="btn float-end btn1 position-absolute top-0 start-0" role="button">
    <i class="fas fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" ></i>
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="offcanvas-body px-0 ">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">

                <li>
                    <a data-bs-toggle="collapse" class="nav-link text-truncate" data-bs-dismiss="offcanvas" (click)="sidebarNavigate('/admin/dashboard')">
                        <i class="fas fa-tachometer-alt text-dark"></i><span class="ms-1 d-none d-sm-inline"
                            >Dashboard</span> </a>
                </li>
                <li >
                    <a data-bs-toggle="collapse" class="nav-link text-truncate" data-bs-dismiss="offcanvas" (click)="sidebarNavigate('/admin/categories')">
                        <i class="fas fa-th-large text-danger"></i><span class="ms-1 d-none d-sm-inline"
                            >catgories</span> </a>
                </li>
                <li>
                    <a data-bs-toggle="collapse" class="nav-link text-truncate" data-bs-dismiss="offcanvas" (click)="sidebarNavigate('/admin/booksList')">
                        <i class="fas fa-book text-success"></i><span class="ms-1 d-none d-sm-inline"
                            >Books</span> </a>
                </li>
                <li>
                    <a data-bs-toggle="collapse" class="nav-link text-truncate" data-bs-dismiss="offcanvas" (click)="sidebarNavigate('/admin/userList')">
                        <i class="fas fa-user text-primary"></i><span class="ms-1 d-none d-sm-inline"
                            >users</span> </a>
                </li>
                <li>
                    <a data-bs-toggle="collapse" class="nav-link text-truncate" data-bs-dismiss="offcanvas" (click)="sidebarNavigate('/admin/bookcopies')">
                        <i class="fas fa-copy text-primary"></i><span class="ms-1 d-none d-sm-inline">BookCopies</span> </a>
                </li>


                <li>
                    <a data-bs-toggle="collapse" class="nav-link text-truncate" data-bs-dismiss="offcanvas" (click)="sidebarNavigate('/admin/issueList')">
                        <i class="fas fa-book text-success"></i>
                        <span class="ms-1 d-none d-sm-inline" >Issued Details</span> </a>
                </li>
                <li>
                    <a data-bs-toggle="collapse" class="nav-link text-truncate" data-bs-dismiss="offcanvas" (click)="sidebarNavigate('/admin/return')">
                        <i class="fas fa-undo text-danger"></i>
                        <span class="ms-1 d-none d-sm-inline" >Returns</span> </a>
                </li>


            </ul>
        </div>

    </div>
</div>