// .loginform {

//    padding: 20% 0;
//    background-image: url('https://images.unsplash.com/photo-1597132687570-0e3d020119e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeSUyMHRyYW5zcGVyYW50JTIwaW1nfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
//    background-size: cover;
//    width: 100%;
//    background-attachment: fixed;

//    .signup {
//       background: white;
//       border-radius: 10px;
//       max-width: 462px;
//       margin: 0 auto;
      
//    }
//    h2 {
//       text-align: center;
//       font-family: Montserrat;
//       font-size: 39px;
//       color: #555555;
//       line-height: 1.2;
//       padding: 20px;
//       font-weight: 400;
//   }

//    .block {
//       padding: 0 20px;
//    }

   
//    label {
//       padding: 8px;
//       font-size: 16px;
//       font-family: Montserrat;
//       color: #555555;
//       line-height: 1.5;
//    }

  

//    .btn {
//       padding: 0 25%;
//       margin-left: 20%;
//       margin-bottom: 20px;
//       margin-top: 20px;
//       height: 45px;
//       background-color:  #3498db;
//       border-radius: 10px;
//       font-family: Poppins;
//       font-size: 16px;
//       color: #fff;
//       line-height: 1.2;
     
//    }

  

//   }
.loginform {
   background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
   padding: 20% 0;
   // object-fit: cover;
   background-attachment: fixed;

   font-family: 'Numans', sans-serif;
   }
   
   .container{
   height: 100%;
   align-content: center;
   }
   
   .card{
      // height: 370px;
      // margin:0 auto;
      // width: 400px;
      // background-color: rgba(0,0,0,0.5) ;
      // background-attachment: fixed;
      // width: 100%;
   }
   .input_field {
      display: block;
     // width: 100%;
      //height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
   }
   
   .card-header h3{
   color: white;
   }
   .input-group{
      padding: 10px;
    
   }
   // .icon{
      
   //    align-items: left;
   // }
   .icon span {
      border-top-left-radius: 5px;
         border-bottom-left-radius: 5px;
         background-color: #FFC312;
         color: black;
         padding-bottom: 15px;
         padding-left: 18px;
         font-weight: 900;
         i{
            align-items: center;
         }
   }
   
   .login_btn{
   color: black;
   background-color: #FFC312;
   width: 100px;
   margin-top: 10px;
   float: right;
   }
   
  
   
   
