<div class="header">
  <app-header></app-header>
</div>
<div class="sidenav">
  <app-side-nav></app-side-nav>
</div>

<section class="myBooks">
  <div class="container">
    <h2>My Collections</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of headers">
            {{column}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of details,let i=index">
          <td>
            {{i+1}}
          </td>
          <td>
            {{row.bookname}}
          </td>
          <td>
            {{row.issued_date}}
          </td>
          <td>
            {{row.exp_returndate}}
          </td>
          <td>
            {{row?.t_fine}}
          </td>
           <td *ngIf="row?.t_status == 1">
            <i class="fas fa-undo text-danger" data-bs-toggle="modal"
              data-bs-target="#exampleModal" (click)="return(row)"></i></td> 
              <td *ngIf="row?.t_status == 0">
                <i class="fas fa-undo text-warning"></i></td> 
        </tr> 
      </tbody>
    </table>
  </div>
  <!-- request -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Request</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        You Want To Return This Book &nbsp; <span class="text-success"><b>{{bookName}}</b></span>
        </div>
        <div>
          <label>
            Select Date
          </label>
          <input type="date" class="input_field" [(ngModel)]="date">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="returnBook()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</section>