<div class="header">
    <app-header></app-header>
</div>
<div class="sidenav">
    <app-side-nav></app-side-nav>
</div>
<section class="search">
    <div class="col-md-9 col-md-push-1 ">
        <h3 class="text-center"></h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-btn search-panel ">
                            <select class="dropdown-toggle  select" data-toggle="dropdown" [(ngModel)]="selectedBook" (change)="filter($event)" >
                                <option value="" >Select Category</option>
                                <option value="{{list?.b_catagory}}" *ngFor="let list of categoryList">
                                    {{list?.b_catagory}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control rounded" name="x" placeholder="Search term..." 
                    >
                </div>

                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary"  ><i class="fas fa-search"></i> Filter</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="books">
    <div class="container">
        <h2><b>Books Collection</b></h2>
        <div class="row">
            <div class="col-lg-4 " *ngFor="let book of books">
                <div class="block" (click)="openXl(content)">
                    <div class="book_img">
                        <img src="https://content.wepik.com/statics/8476219/preview-page0.jpg">
                    </div>
                    <div class="book_info">
                        <h4>
                            {{book.b_title}}
                        </h4>
                    </div>

                    <div class="arrow">

                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Additional Information</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="book_img">
                                                <img src="https://content.wepik.com/statics/8476219/preview-page0.jpg">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="book_info">
                                                <h4 class="text-warning">
                                                    {{book.b_title}}
                                                </h4>
                                                <h4>
                                                    <b>By:</b><i class="text-primary"> {{book.b_author}}</i>
                                                </h4>
                                                <h4>
                                                    <b>Book Id:</b><i> {{book.b_id}}</i>
                                                </h4>
                                                <p>{{book.b_description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    (click)="modal.close('Close click')">Close</button>
                                <button type="button" class="btn btn-success" (click)="modal.close('Close click')" (click)="open1(content,book.b_id)">Save</button>
                            </div>
                            <!-- request -->
                            <ng-template #content let-c="close" let-d="dismiss1">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Book Request</h4>
                                    <button type="button" class="btn-close" aria-label="Close"
                                        (click)="d('Cross click')"></button>
                                </div>
                                <div class="modal-body">
                                    You Want TO Take This Book &nbsp;<span class="text-primary"><i>{{book.b_title}}</i></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        (click)="c('Save click')">No</button>
                                        <button type="button" class="btn btn-success"
                                        (click)="bookIssue(book.b_id)">Yes</button>
                                </div>
                            </ng-template>

                        </ng-template>
                        <!-- <a class="text-primary" (click)="open(content)"> <i
                                class="fas fa-angle-double-right"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>