<div class="header">
  <app-header></app-header>
</div>
<div class="sidenav">
  <app-side-nav></app-side-nav>
</div>
<section class="book">
  <div class="container">
    <h2>Books Issued List</h2>
    <div class="search p-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control rounded" name="x" placeholder="Search term..."
              [(ngModel)]="selectedUser">
          </div>

          <div class="col-lg-6">
            <button type="button" class="btn btn-primary" (click)="filter()"><i class="fas fa-search"></i>
              Filter</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of headers">
            {{column}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of  issuedBookList,let i=index">
          <td>
            {{i+1}}
          </td>
          <td>
            {{row.username}}
          </td>
          <td>
            {{row.book_id}}
          </td>
          <td>
            {{row.copy_id}}
          </td>
          <td>
            {{row.issued_date}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</section>