.book{
    padding: 5% 0;
    cursor: pointer;
    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 39px;
        color: #555555;
        line-height: 1.2;
        padding: 20px;
        font-weight: 400;
    }
   
 
 }