<header class="header">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">

                <div class="logo">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtIPiZzz7iUEH_127gk-PPlp400-e2t9Q-mQ&usqp=CAU">
                </div>
            </div>
            <div class="col-lg-9">
                <div class="btn">
                    <i class="fas fa-user-circle"  (click)="logOut()"> <i>{{Name}}</i></i>
                    <div class="effect">
                        <span><b>Sign Out</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>