<div class="header">
  <app-header></app-header>
</div>
<div class="sidenav">
  <app-side-nav></app-side-nav>
</div>
<button type="button" class="btn btn-md btn-outline-primary button" routerLink="/admin/newUser">Add User Here</button>

<section class="user_details">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12" *ngFor="let user of details">
        <div class="block">
          <div class="user_block">
            <img src="../assets/profile.png">
            <h4 id="name">{{user.u_name}}</h4>{{user.u_status}}
          </div>
          <div class="details" id="datails">
            <p>
              <b>Email:</b> <span>{{user.u_email}}</span>
            </p>
            <p>
              <b>Phone Number: </b><span>{{user.u_phno}}</span>
            <p>
              <b>Date Of Birth:</b> <span>{{user.u_dob}}</span>
            </p>

          </div>
          <div class="mt-4">
            <button class="btn btn-info btn-sm px-5 " id="update" routerLink="/admin/newUser">Update</button>
            <button class="btn btn-danger btn-sm px-5 " id="delete" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Delete</button>
          </div>
        </div>
        <!-- delete -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are You Sure You Want TO <b> Delete</b>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" (click)="delete(user.u_id)">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>