
<div class="header">
    <app-header></app-header>
</div>
<div class="sidenav">
    <app-side-nav></app-side-nav>
</div>

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-3" *ngFor="let report of status">
                <div class="block">
                    <i class="{{report.icon}}"></i>
                    <h3>
                       {{report.count}}
                    </h3>
                    <h4>
                       {{report.status}}
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="img">
                    <img src="https://warehouse-camo.ingress.cmh1.psfhosted.org/fe098a9ab95c004ab51048af643a8bb9082c59b0/68747470733a2f2f6769746875622e636f6d2f50657472446c6f7568792f646a616e676f2d61646d696e2d6368617274732f7261772f6d61737465722f646f63732f736f757263652f5f7374617469632f6261725f63686172742e706e67">
                </div>
                
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
