.bookCopies{
    padding: 8% 0;
    cursor: pointer;



   label {
    padding: 8px;
    font-size: 16px;
    font-family: Montserrat;
    color: #555555;
    line-height: 1.5;
}

.input_field {
    padding: 5px;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    width: 100%;
}
.submit{
    margin-left: 30%;

}
}
.button{
    float: right;
    margin: 30px;
   }