<div class="header">
  <app-header></app-header>
</div>
<div class="sidenav">
  <app-side-nav></app-side-nav>
</div>

<section class="books">
  <div class="container">
    <h2>Categories</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">category Name</th>
          <th scope="col">ShortName</th>
          <th scope="col">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Science</td>
          <td>NS</td>
          <td><i class="fas fa-angle-double-right text-success" routerLink="/user/science"></i></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>History</td>
          <td>Hsty</td>
          <td><i class="fas fa-angle-double-right text-success" routerLink="/user/history"></i></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>kidsBoooks</td>
          <td>kid</td>
          <td><i class="fas fa-angle-double-right text-success" routerLink="/user/kids"></i></td>
        </tr>

      </tbody>
    </table>
  </div>


</section>