<div class="header">
    <app-header></app-header>
</div>
<div class="sidenav">
    <app-side-nav></app-side-nav>
</div>

 <section class="loginform">
    <div class="container">
        <div class="signup" id="signup" >
            <h2>
                Book
            </h2>
            <div class="block">
                <div class="row">
                    <div class=" col-12 px-5" >
                        <div>
                            <label> Book Name</label>
                        </div>
                        <input type="text" class="input_field"  >
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-5">
                        <div>
                            <label> Author Name</label>
                        </div>
                        <input type="text" id="pass" class="input_field" >
                    </div>
                </div>
               <button class="btn">Submit</button>
            </div>
        </div>
    </div>
</section> 
