.branch {
    padding: 5%;
    border-radius: 8px;
    .count_p {
        margin-left: 50px;
    }
    
    .count_box {
        padding-bottom: 25%;
    
        i {
            color: #3498db;
            margin-right: 6px;
            font-size: 36px;
            float: left;
        }
    }
}

